:root {
        --text-primary: #333;
        --text-secondary: #666;
        --button-bg: #e0e0e0;
        --button-text: #333;
        --button-hover-bg: #d0d0d0;
        --button-active-bg: #007bff;
        --scroll-button-bg: rgba(0, 0, 0, 0.5);
        --scroll-button-text: white;
        --scroll-button-hover-bg: rgba(0, 0, 0, 0.7);
        --card-bg: white;
        --card-text: black;
        --card-title: black;
        --card-description: #333;
        --background-color: #fff;
        --btn-color: #0987f2;
        --btn-text-color: #fff;
        --project-card-bg: #ffffff00;
        --text-color: #222;
        --form-text-color: #555;
        --footer-text-color: #888;
      }
      
      [data-theme='dark'] {
        --background-color: #222;
        --btn-color: #fff;
        --btn-text-color: #222;
        --project-card-bg: #fff;
        --text-color: #fff;
        --form-text-color: #fff;
        --footer-text-color: #bbb;
        --text-primary: #fff;
        --text-secondary: #ccc;
        --button-bg: #333;
        --button-text: white;
        --button-hover-bg: #444;
        --button-active-bg: #007bff;
        --scroll-button-bg: rgba(255, 255, 255, 0.5);
        --scroll-button-text: black;
        --scroll-button-hover-bg: rgba(255, 255, 255, 0.7);
        --card-bg: #2a2a2a;
        --card-text: white;
        --card-title: white;
        --card-description: #ccc;
      }
      
      body {
        background-color: var(--background-color);
        margin: 0;
        padding: 0;
        font-family: 'Roboto mono', monospace;
      }
      
      #root {
        display: flex;
        flex-direction: column;
        gap: 60px;
        width: 100%;
        max-width: 1400px;
        margin: 20px 0;
        padding: 20px 20px;
        box-sizing: border-box;
      }
      
      h1, h2, h3, p {
        color: var(--text-color);
        margin: 0;
        padding: 0;
      }
      
      h1 {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 32px;
      }
      
      h2, h3 {
        font-size: 20px;
      }
      
      p {
        font-size: 16px;
        font-weight: 300;
      }
      
      .sectionContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
      }
      
      .sectionTitle {
        font-size: 32px;
        /* margin-bottom: 20px; */
        text-align: center;
        width: 100%;
      }
      
      .hover {
        cursor: pointer;
      }

      .reveal-wrapper {
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
      }
      
      .reveal-wrapper.reveal {
        opacity: 1;
        transform: translateY(0);
      }
      
      @media (width >= 1285px) {
        #root {
                margin: 0 auto;
        }
      
        h1, .sectionTitle {
          font-size: 48px;
        }
      
        .sectionTitle {
          margin-bottom: 35px;
        }
      }