:root {
        --text-primary: #333;
        --text-secondary: #666;
        --button-bg: #e0e0e0;
        --button-text: #333;
        --button-hover-bg: #d0d0d0;
        --button-active-bg: #007bff;
        --scroll-button-bg: rgba(0, 0, 0, 0.5);
        --scroll-button-text: white;
        --scroll-button-hover-bg: rgba(0, 0, 0, 0.7);
        --card-bg: white;
        --card-text: black;
        --card-title: black;
        --card-description: #333;
        --background-color: #fff;
        --btn-color: #0987f2;
        --btn-text-color: #fff;
        --project-card-bg: #ffffff00;
        --text-color: #222;
        --form-text-color: #555;
        --footer-text-color: #888;
}

[data-theme='dark'] {
        --background-color: #222;
        --btn-color: #fff;
        --btn-text-color: #222;
        --project-card-bg: #fff;
        --text-color: #fff;
        --form-text-color: #fff;
        --footer-text-color: #bbb;
        --text-primary: #fff;
        --text-secondary: #ccc;
        --button-bg: #333;
        --button-text: white;
        --button-hover-bg: #444;
        --button-active-bg: #007bff;
        --scroll-button-bg: rgba(255, 255, 255, 0.5);
        --scroll-button-text: black;
        --scroll-button-hover-bg: rgba(255, 255, 255, 0.7);
        --card-bg: #2a2a2a;
        --card-text: white;
        --card-title: white;
        --card-description: #ccc;
}

body {
        background-color: var(--background-color);
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
}

#root {
        display: flex;
        flex-direction: column;
        gap: 60px;
}

h1,
h2,
h3,
p {
        color: var(--text-color);
        margin: 0;
        padding: 0;
}

h2,
h3,
p {
        font-family: 'Roboto mono', monospace;
}

h1,
h2 {
        text-transform: uppercase;
}

h2,
h3 {
        font-size: 20px;
}

h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 32px;
}

p {
        font-size: 16px;
        font-weight: 300;
}

.sectionTitle {
        margin-bottom: 30px;
}

.hover {
        cursor: pointer;
}

@media(width >=1400) {
        #root {
                gap: 200px;
        }

        h1 {
                font-size: 48px;
        }

        .sectionTitle {
                margin-bottom: 75px;
        }
}